<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DesktopApp.My.MySettings.StoreDBConnectionString"
            connectionString="Data Source=db-test-instance.c0pxf8y4tmfk.us-east-2.rds.amazonaws.com,1433;Initial Catalog=StoreDB;Persist Security Info=True;User ID=admin;Password=hotmail.com"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>

  </appSettings>
    </configuration>